{% extends 'base.html.twig' %}

{% block body %}

    {{ form(form) }}


    <hr>
    <br>

    <ul>
    {% for brand in brands %}
        <li>{{ brand.name }}
            <button onclick="javascript:edit_brand( '{{ brand.id }}' );">Edit</button>
            <button onclick="javascript:delete_brand( '{{ brand.id }}' );">Delete</button>
        </li>
    {% endfor %}
    </ul>

    <div id="dialog-form" title="Edit brand"></div>

{% endblock %}

{% block javascripts %}

    <script>

        $(function() {
            var dialog;

            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Save": saveBrand,
                    Cancel: function() {
                        dialog.dialog( "close" );
                    }
                },
                close: function() {
                    /*                form[ 0 ].reset();
                     allFields.removeClass( "ui-state-error" );*/
                }
            });

        });

        function saveBrand(){
            $.ajax({
                url: Routing.generate('edit_brand_save'),
                type: "POST",
                async: true,
                data: { id : $('#form_id').val(), name : $('#form_name').val() },
                dataType: "html",
                success: function(msg) {

                    if(msg == 1){
                        location.reload();
                    }

                },
                error: function(){
                    alert("ERROR!");
                }
            });
        }

        function edit_brand(id){
            $( "#dialog-form" ).load( Routing.generate('edit_brand', { id: id }), function() {
                $( "#dialog-form" ).dialog( "open" );
            });
        }

        function delete_brand(id){

            var confirmQ = confirm("Sei sicuro di voler cancellare il brand?");
            if (confirmQ === true) {

                $.ajax({
                    url: Routing.generate('delete_brand', {id: id}),
                    type: "GET",
                    async: true,
                    dataType: "html",
                    success: function (msg) {

                        if (msg == 1) {
                            location.reload();
                        }

                    },
                    error: function () {
                        alert("ERROR!");
                    }
                });

            }

        }

    </script>

{% endblock %}
